*{
    margin: 0px;
    padding: 0px;

   
}

body{
    background-color: gray;
}


#background{

}

#home{
    background-repeat: no-repeat;
    height: 38vh;
    overflow: hidden;
    border: solid 1px black;
}

#home img{
    display: block;
    margin-top: -34vh ;
}

#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(68, 22, 22);
    opacity: 0.8;
    align-content: center;
    align-items: center;
    border: solid 1px black;
    
}

.navbar{
    margin-right: 5vh;
    border: solid 1px black;
    
}
.navbar a{
    text-decoration: none;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color:#000000; 
    text-decoration:none; 
    cursor:pointer;  
}



.logo{
    margin-left: 5vh;
}

.logo img{
    width: 6vh;
}

#about{
    height: 90vh;
    border: solid 1px black;
    display: flex;
    justify-content: space-between;
}

.left{
    margin-top: 40vh;
    margin-left: 30vh;
}


.left h1{
    border: solid 1px black;
    width: 30vh;
    justify-content: flex-start;
    font-size: 6vh;
}

.left > p{
    border: solid 1px black;
    width: 60vh;
    font-size: 3vh;
}


.right{
    margin-top: 20vh;
    margin-right: 10vh;
}


.right img{
    width: 60vh;
    border-radius: 50%;
}

#bio{
        height: 90vh;
        border: solid 1px black;
        align-content: center;
        align-items: center;
}

.bioField{
    border: solid 1px black;
    height: 70vh;
    width: 100vh;
    margin-left: 33vh;
    border-radius: 10vh;

}
.bioField > p{
  padding-left: 10vh;
  padding-top: 8vh;
}

.clickME{
    background-color: red;
    font-weight: bold;
    color: yellow;
    width: 10vh;
    height: 4vh;

}

.clickagain{
    background-color:  yellow;
    font-weight: bold;
    color: red;
    width: 10vh;
    height: 4vh;
}

#container3D{
    border: solid 1px black;
    width: 20vh;
    height: 30vh;
}

.project{
        height: 90vh;
        border: solid 1px black;
        padding: 10vh;
        position: relative;
}


.invis{
    opacity: 0;
}
.vis{
    opacity: 1;
}

#bush {

  position: absolute;
  background: red;
}

@keyframes{}