*{
    margin: 0px;
    padding: 0px;

   
}

body{
    background-color: gray;
}


#background{

}

#home{
    background-repeat: no-repeat;
    height: 38vh;
    overflow: hidden;
    border: solid 1px black;
    width: 100%;
}

#home img{
    display: block;
    margin-top: -34vh ;
}

#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    position: fixed;
    width: 100vw;
    background-color: rgb(68, 22, 22);
    opacity: 0.8;
    align-content: center;
    align-items: center;
    border: solid 1px black;
    
}

.navbar{
    margin-right: 3vw;
    border: solid 1px black;
    
}
.navbar a{
    text-decoration: none;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color:#000000; 
    text-decoration:none; 
    cursor:pointer;  
}



.logo{
    margin-left: 3vw;
}

.logo img{
    width: 5vw;
}

#about{
    height: 60vw;
    border: solid 1px black;
    display: flex;
    justify-content: space-between;
}

.left{
    margin-top: 24vw;
    margin-left: 10vw;
}


.left h1{
    border: solid 1px black;
    width: 20vw;
    justify-content: flex-start;
    font-size: 4vw;
}

.left > p{
    border: solid 1px black;
    width: 44vw;
    font-size: 2vw;
}


.right{
    margin-top: 12vw;
    margin-right: 10vw;
}


.right img{
    width: 37vw;
    border-radius: 50%;
}

#bio{
        height: 60vw;
        border: solid 1px black;
        align-content: center;
        align-items: center;
}

.bioField{
    border: solid 1px black;
    height: 50vw;
    width: 60vw;
    margin-left: 21vw;
    border-radius: 5vw;

}
.bioField > p{
  padding-left: 6vw;
  padding-top: 5vw;
}

.clickME{
    background-color: red;
    font-weight: bold;
    color: yellow;
    width: 7vw;
    height: 2vw;

}

.clickagain{
    background-color:  yellow;
    font-weight: bold;
    color: red;
     width: 7vw;
    height: 2vw;
}

#container3D{
    border: solid 1px black;
    width: 20vw;
    height: 30vw;
}

.project{
        height: 30vw;
        border: solid 1px black;
        padding: 5vw;
        position: relative;
}


.invis{
    opacity: 0;
}
.vis{
    opacity: 1;
}

#bush {

  position: absolute;
  background: red;
}
